= render 'shared/page_title', title: t('devise.registrations.edit_your_account')

.login
  = form_for(resource, as: resource_name,
                       url: registration_path(resource_name),
                       html: { method: :put },
                       class: 'form-horizontal',
                       builder: BootstrapFormBuilder) do |f|
    = f.form_group :first_name do
      = f.label :first_name, class: 'cols-sm-2 control-label', autofocus: true
      .cols-sm-10
        .input-group
          = f.text_field :first_name, class: 'form-control'
    = f.form_group :last_name do
      = f.label :last_name, class: 'cols-sm-2 control-label'
      .cols-sm-10
        = f.text_field :last_name, class: 'form-control'
    = f.form_group :email do
      = f.label :email, class: 'cols-sm-2 control-label'
      .cols-sm-10
        = f.email_field :email, class: 'form-control'
    .form-group
      = f.submit t('devise.registrations.update'), class: 'btn btn-primary btn-lg btn-block login-button'

%h3
  = t('devise.registrations.cancel_my_account')

%p
  = t('devise.registrations.unhappy')
  = button_to t('devise.registrations.cancel_my_account'), registration_path(resource_name),
    data: { confirm: t('application.are_you_sure') }, method: :delete
