= render 'shared/page_title', title: @movie.name

= link_to t('.edit_movie'), edit_movie_path(@movie), class: 'btn btn-primary btn-lg btn-block'
= link_to t('.delete_movie'), movie_path(@movie), class: 'btn btn-danger btn-lg btn-block',
  method: :delete, data: { confirm: t('application.are_you_sure') }

= @movie.name
= @movie.description
