= render 'shared/page_title', title: t('devise.registrations.form_title')

.login
  = form_for resource, as: resource_name,
                       url: session_path(resource_name),
                       class: 'form-horizontal',
                       builder: BootstrapFormBuilder do |f|
    = f.form_group :email do
      = f.label :email, class: 'cols-sm-2 control-label'
      .cols-sm-10
        = f.email_field :email,
          class: 'form-control',
          placeholder: t('devise.registrations.email_placeholder'),
          before: raw("<i class='fa fa-envelope'></i>")
    = f.form_group :password do
      = f.label :password, class: 'cols-sm-2 control-label'
      .cols-sm-10
        = f.password_field :password,
          class: 'form-control',
          placeholder: t('devise.registrations.password_placeholder'),
          before: raw("<i class='fa fa-lock'></i>")

    .form-group
      = f.submit t('devise.sessions.submit_button'), class: 'btn btn-primary btn-lg btn-block login-button'

  = render 'devise/shared/links'
